@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="board-basico">
    <p class="text-dark">Cadastros</p>
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
            <a asp-controller="Cadastros" asp-action="Produto" class="btn btn-outline-dark" style="width:70%">Produto</a>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3">
            <a asp-controller="Cadastros" asp-action="Funcionario" class="btn btn-outline-info" style="width:70%">Funcionarios</a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
            <a asp-controller="Cadastros" asp-action="Fornecedor" class="btn btn-outline-danger" style="width:70%"> Fornecedoers</a>
        </div>
    </div>
</div>