@using Brocoleendo.Models
@model Produto

<div class="row board-basico">
    <form>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <label for="txtDsProduto" class="form-label">Nome</label>
                <input type="text" maxlength="50" class="form-control" id="txtDsProduto">
            </div>

            <div class="col-xs-4 col-sm-2 col-md-2">
                <label for="txtPreco" class="form-label">Preço KG</label>
                <input type="number" class="form-control" id="txtPreco">
            </div>

            <div class="col-xs-4 col-sm-2 col-md-2">
                <label for="ddlGrupo" class="form-label">Grupo</label>
                <select id="ddlGrupo" class="form-control">
                    <option value="1">Frutas</option>
                    <option value="2">Legumes</option>
                    <option value="3">Verdura</option>
                    <option value="4">Grãos</option>
                </select>
            </div>

            <div class="col-xs-7 col-sm-4 col-md-4">
                <label for="txtUrl_Img" class="form-label"> Link de imagem</label>
                <input class="form-control" id="txtUrl_Img" placeholder="url" />
            </div>

            <div class="col-xs-1 col-sm-1 col-md-1">
                <span style="margin-top:30px;" id="btnInsert" class="btn btn-success"><i class="fa fa-plus"></i> </span>
            </div>
        </div>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#btnInsert").click(function () {
            var nome = $("#txtDsProduto").val();
            var preco = $("#txtPreco").val();
            var Grupo = $("#ddlGrupo").val();
            var Url_Img = $("#txtUrl_Img").val();

            var jsonData = {
                ID_PRODUTO: 0,
                DS_PRODUTO: nome,
                Url_Img: Url_Img,
                PRECO: preco,
                SALDO: 0,
                DS_GRUPO: 'none',
                ID_GRUPO: Grupo,
                ST_Ativo: true
            };
            console.log(jsonData);
            
            $.ajax({
                type: "POST",
                url: "InsProduto",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(jsonData),
                success: function (data) {
                    if (data == null || data == false) {
                        toasterWarning('<h4><i class=\"fa fa-exclamation-triangle\">&nbsp;</i><b> Erro ao tentar cadastrar, perda de conexão.</b></h4>');
                    }
                    else {
                        console.log(data);
                        var json = $.parseJSON(data);
                        console.log(json);
                        toasterSuccess('<h4><i class=\"fa fa-check\">&nbsp;</i><b>Cadastrado com sucesso!</b></h4>');
                    }
                }   ,
                error: function () { alert('Error') }
            });
        });
    });
</script>