@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-family:serif; color:white" class="display-4">Brocoleendo</h1>
</div>

<div class="row">
    <div class="col-lg-3 col-md-3"></div>
    <div class="col-xs-6 col-lg-3 col-md-3">
        <a asp-controller="Fornecedores" asp-action="Index" class="text-dark nav-link">
            <div class="modulo">
                <p>Fornecedores</p>
            </div>
        </a>
    </div>

    <div class="col-xs-6 col-lg-3 col-md-3">
        <a asp-controller="Producao" asp-action="Index" class="text-dark nav-link">
            <div class="modulo">
                <p>Produção</p>
            </div>
        </a>
    </div>

</div>

<div class="row" style="margin-top:15px; align-items:center">
    <div class="col-lg-3 col-md-3"></div>
    <div class="col-xs-6 col-lg-3 col-md-3">
        <a asp-controller="Produto" asp-action="Index" class="text-dark nav-link">
            <div class="modulo">
                <p>Produtos</p>
            </div>
        </a>
    </div>
    <div class="col-xs-6 col-lg-3 col-md-3">
        <a asp-controller="Venda" asp-action="Index" class="text-dark nav-link">
            <div class="modulo">
                <p>Venda</p>
            </div>
        </a>
    </div>

</div>

