@using Brocoleendo.Model
@model List<AcaoQuadrante>

@if (Model.Count > 0)
{
    <div>
        <h4 class="centered">Atividades realizadas</h4>
    </div>
    <div>
        <table class="table table-condensed">
            <tr>
                <th>Ação</th>
                <th>Data/Hora</th>
                <th>Funcionario</th>
                <th>Material usado</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.DS_ACAO</th>
                    <th>@item.DT_ACAO</th>
                    <th>@item.NOME_FUNC</th>
                    <th>@item.DS_MATERIAL</th>
                </tr>
            }
        </table>
    </div>
    <div class="row">

        <div></div>
    </div>
}
else
{

}
