
@model List<Producao>;


<div style="background-color:white" class="row">
    <div class="row" style="padding:10px">
        <div class="col-xs-1 col-md-1 col-sm-1">
            <a asp-controller="Home" asp-action="Index" class="fa fa-2x fa-chevron-left text-dark nav-link" style="padding-left:10px"></a>
        </div>

        <div class="col-xs-10 col-md-10 col-sm-10">
            <p style="text-align:left"> <b>@ViewData["Title"]</b></p>
        </div>

        <div class="col-xs-1 col-md-1 col-sm-1">
            <i class="fa fa-2x fa-pencil-square-o"></i>
            @* colocar a controller do cadastrar e encaminhar *@
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-sm-6">
        <div class="row">
            @for (int i = 0; i < Model.Count(); i++)
            {
                <div class="col-xs-6 col-md-4 col-sm-4">
                    @if (Model.ElementAt(i).ST_USO)
                    {
                        <a class="details" data-id="@Model.ElementAt(i).DS_Quadrante">
                            <img src="https://cdn.noticiasagricolas.com.br/dbimagens/thumbs/320x240-ar/062fd8a45806c49213c00fe23935530d.jpg" class="lote-img" />
                        </a>
                    }
                    else
                    {
                        <a class="details" data-id="@Model.ElementAt(i).DS_Quadrante">
                            <img src="https://www.gramasp.com.br/fornecedor-de-gramas/imagens/terra-adubada-para-grama-esmeralda.jpg" class="lote-img" />
                        </a>
                    }
                    <br />
                    <p style="text-align:center">@Model.ElementAt(i).DS_Quadrante</p>
                </div>

            }
        </div>

    </div>

    <div id="detailsPlace" class="col-xs-12 col-md-6 col-sm-6" style="display:none">
      
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.details').click(function () {
            var buttonClicked = $(this);
            var DS_id = buttonClicked.attr('data-id');
            console.log(DS_id);
            

            $.ajax({
                url: 'Producao/Details',
                type: 'POST',
                data: { DS: DS_id },
                success: function (partialView) {
                    $('#detailsPlace').html(partialView);
                    $('#detailsPlace').show();
                }
            });
        });
    });
</script>